@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Products</h1>
<p>
    List of products are as followed:
    <ul>
        <li>Laptop</li>
        <li>Tablet</li>
        <li>Desktop</li>
    </ul>
</p>